<div id="central" class="extra">
    <section class="text-center">
        <img src="../img/muscle-8.jpg" alt=" Photo of about" class="profile-photo">
        <h3>About</h3>
        <p>
            Hi, this is LJ, just testing the new about page,Please only use phone contact for urgent inquireies.
            Ohterwise Twitter and email would the best way to reach me. Please only use phone contact for urgent inquireies.
            Please only use phone contact for urgent inquireies. Ohterwise Twitter and email would the best way to reach me.
            Please only use phone contact for urgent inquireies. Ohterwise Twitter and email would the best way to reach me.
            Please only use phone contact for urgent inquireies. Ohterwise Twitter and email would the best way to reach me.
            Ohterwise Twitter and email would the best way to reach memy fake username is <a href="http://twitter.com">
                @LJ</a>, if you have any suggestion, pease submit <a href="/suggestion"> here
            </a>.
        </p>
    </section>
</div>


